/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa; 
}

/* HEADER */
header {
  background-color: #223a22; 
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1); 
}

.navbar li {
  margin-left: 50px;
}

.navbar img {
  width: 80px;
  height: 80px;
}

/* SEARCH BAR */
.form-inline {
  margin-right: 70px;
}

.form-control {
  height: 30px;
}

.btn img {
  margin-bottom: 13px;
  width: 20px;
  height: 20px;
}

.btn-outline-white {
  color: #fff;
  border-color: #fff;
  height: 30px;
}

/* CONTENT SECTION */
section {
  width: 80%;
  margin: 40px auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: justify; 
}

section h1, section h2 {
  margin-bottom: 20px; 
}

section p {
  margin-bottom: 20px; 
}

/* EDITORIAL BOARD */
h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 50px;
  color: #333; 
}

.Editorialboard {
  display: flex;
  justify-content: space-around;
  padding-bottom: 30px;
}

.Editorialboard div {
  width: 200px;
  padding: 20px;
  border: 3px solid #395a3783;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
  margin: 2px; /* Reduced margin */
  background: linear-gradient(45deg, #756a2a, #6d8b1b, #6fb96c, #596d11);
  background-size: 400% 400%;
  position: relative;
  overflow: hidden;
  animation: gradient 15s ease infinite;
  margin-bottom: 20px;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

.founder-section h1 {
  color: #005f0d;
}

.Editorialboard img {
  border-radius: 50%;
  margin-bottom: 10px;
  border: 2px solid #ffffff;
}

.Editorialboard h3 {
  margin: 5px 0;
  color: #fff;
}

.Editorialboard p {
  margin: 0;
  color: #fff;
}

.Editorialboard img:hover {
  transform: scale(1.1); 
}

/* FOOTER */
footer {
  background-color: #223a22; 
  color: #ffffff; 
  padding: 20px 0; 
}

footer p {
  margin-bottom: 10px; 
  display: flex;
  justify-content: center; 
  align-items: center; 
}

footer img {
  width: 30px; 
  margin: 0 5px;
  transition: filter 0.3s ease; 
}

footer img:hover {
  filter: grayscale(100%);
  transform: scale(1.1);
}
