/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f9f0; /* Light green background */
}

/* Header styles */
header {
    background-color: #3b6b3b; /* Dark green header background */
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav ul {
    list-style-type: none;
    display: flex; /* Change to flex to align items */
   position: absolute;
   right:614px;
   top:58px ;
}

nav ul li {
    margin-right: 50px;
}

nav ul li a {
    color: #ffffff; /* White text color for links */
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Search input styles */
input[type="search"] {
    padding: 5px;
    border: none;
    position: relative;
    right: -4px;
    top: -5px;
    border-radius: 5px;
    
 
}

button {
    margin-right: 30px;
    margin-top: 3px;
    width: 50px;
    height: 30px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #a3d6a3; /* Light green button */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition for the background color */
    
}

button:hover {
    background-color: #7bbf7b; /* Darker green on hover */
}


button img {
    width: 20px;
    height: 20px;
}
/* Content styles */

/* Section Styles */
section {
    width: 80%;
    margin: 40px auto;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center align all text within section */
  }
  
  section h2,
  section h4 {
    text-align: center; /* Center align headings */
  }
  
  section p {
    text-align: justify; /* Justify text within paragraphs */
  }
  
 
/* Footer styles */
footer {
    background-color: #3b6b3b; /* Dark green footer background */
    padding: 20px;
    color: #ffffff; /* White text color for footer */
    text-align: center;
  
}

footer a {
    margin-right: 10px; /* Add space between social media icons */
}

.background img {
    transition: filter 0.3s ease; /* Apply transition effect to the filter property */
}

.background img:hover {
    filter: grayscale(100%); /* Convert the image to grayscale on hover */
}


