/* trytwo.css */

body {
    font-family: 'Arial', sans-serif;
    background: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .form-container {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(4, 211, 32, 0.719);
    padding: 50px;
    max-width: 400px;
    width: 100%;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  h1 {
    font-weight: bold;
    margin-bottom: 20px;
    padding-left: 10px;
    color: #333333;
  }
  
  .social-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .social {
    border: 1px solid #dddddd;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    margin: 0 10px;
    color: #333333;
    text-decoration: none;
  }
  
  .social i {
    font-size: 20px;
  }
  
  span {
    font-size: 14px;
    color: #666666;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .infield {
    position: relative;
    margin-bottom: 20px;
  }
  
  input[type="email"],
  input[type="password"] {
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 15px;
    width: 100%;
    font-size: 14px;
    outline: none;
  }
  
  input[type="email"]:focus,
  input[type="password"]:focus {
    border-color: #666666;
  }
  
  label {
    position: absolute;
    top: 12px;
    left: 15px;
    font-size: 14px;
    color: #666666;
    transition: all 0.3s ease;
    pointer-events: none;
  }
  
  input:focus + label,
  input:not(:placeholder-shown) + label {
    top: -10px;
    left: 10px;
    font-size: 12px;
    color: #333333;
  }
  
  a {
    color: #333333;
    text-decoration: none;
    font-size: 14px;
    text-align: center;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .forgot {
    display: block;
    margin: 10px 0 20px 0;
    text-align: right;
  }
  
  button {
    border-radius: 5px;
    border: none;
    background-color: #333333;
    color: #ffffff;
    font-size: 16px;
    padding: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #555555;
  }
  
  .signup-link {
    margin-top: 20px;
    text-align: center;
  }
  
  .signup-link a {
    color: #007bff;
    text-decoration: none;
  }
  
  .signup-link a:hover {
    text-decoration: underline;
  }
  