/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa; 
  }
  
  /* HEADER */
  header {
    background-color: #223a22; /* Dark green header background */
    padding: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1); 
  }
  
  .navbar li {
    margin-left: 50px;
  }
  
  .navbar img {
    width: 80px;
    height: 80px;
  }
  
  .btn-outline-white {
    color: #fff;
    border-color: #fff;
  }


  /* INTRO */
  
  .intro img{
    width: 100%;
    height: auto;
    text-align: center; /* centers the text */
   
  }
  
  .intro {
    position: relative;
  
  }
  
  .intro img {
    width: 100%;
    height: auto;
  }
  
  .intro-content {
    display: block; 
    margin: 0 auto; 
    width: 100%; 
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    background-color: #ffffff36;
    
  }
  
  
  .intro h1 {
    font-size: 40px;
  }
  
  .intro p {
    font-size: 20px;
  }
  .read-more {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .read-more::after {
    content: "\1F832";
    margin-left: 10px;
  }
  
  .read-more:hover {
    background-color: #0046039a;
    text-decoration: none; /* Remove underline on hover */
    color: #fff;
  }
  
  
  
  /* FOOTER */

  footer {
    background-color: #223a22; 
    color: #ffffff; /* white text color */
    padding: 20px 0; 
  }
  
  footer p {
    margin-bottom: 10px; /* adds space between social media icons and copyright text */
    display: flex;
    justify-content: center; 
    align-items: center;
  }
  
  footer img {
    width: 30px; 
    margin: 0 5px; 
    transition: filter 0.3s ease; /* Apply transition effect to the filter property */
  }
  
  footer img:hover {
    filter: grayscale(100%); /* Convert the image to grayscale on hover */
    transform: scale(1.1);
  }